@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */


@layer utilities {
    .animation-delay-200 {
        animation-delay: 0.2s;
    }

    .animation-delay-300 {
        animation-delay: 0.3s;
    }

    .animation-delay-400 {
        animation-delay: 0.4s;
    }
}

.circle-4 {
    @apply w-4 h-4 my-12 mx-1 bg-gray-500 rounded-full;
}

.circle-6 {
    @apply w-6 h-6 my-12 mx-1 bg-gray-500 rounded-full;
}